{% load static %}
<li>
    <article class="post">
        <a href="{% url 'post-detail-page' slug='learning-django' %}">
            <img src="{% static 'home/images/django.png' %}" alt="learning django">
            <div class="post__content">
                <h3>learning django</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo minus mollitia nam quis
                    reprehenderit voluptas! Accusantium ad at consequatur, deleniti, id in inventore magnam
                    minima nostrum repudiandae sapiente tempore totam?</p>
            </div>
        </a>
    </article>
</li>