{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/all-posts.css' %}">
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>These Are All My Posts</h2>
        <ul>
            {% include 'home/include/post.html' %}
            {% include 'home/include/post.html' %}
            {% include 'home/include/post.html' %}
            {% include 'home/include/post.html' %}
            {% include 'home/include/post.html' %}
        </ul>
    </section>
{% endblock %}