{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Blog
{% endblock %}
{% block header_references %}
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}
{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'home/images/master.jpg' %}" alt="Author Of This Blog">
            <h2>ShopLand Project</h2>
        </header>
        <p>Hi My Name Is DiarTor I'm A Programmer</p>
    </section>
    <section id="latest-post">
        <h2>Latest Posts</h2>
        <ul>
            {% include 'home/include/post.html' %}
        </ul>
    </section>
    <section id="about">
        <h2>What id do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cum deleniti dignissimos dolore
            eaque enim esse eveniet exercitationem fugit hic inventore iste itaque libero minus modi nisi optio
            perspiciatis quas, quasi quidem sapiente sint soluta tempora ullam unde velit!</p>
    </section>
{% endblock %}